[Desktop Entry]
Name=Kyzenred
Comment=A full KDE theme based on gamer aesthetics and modern minimalism
Encoding=UTF-8

X-KDE-PluginInfo-Author=oracleforms11g
X-KDE-PluginInfo-Email=BoldJe1.work@gmail.com
X-KDE-PluginInfo-Name=Kyzenred
X-KDE-PluginInfo-Website=https://github.com/MiiMii1205/kyzenred-aurorae
X-KDE-PluginInfo-Version=1.0
X-Plasma-API=5.0
